@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6A859C;
    line-height: 1.79;
}

.header {
    padding: 20px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #69b9ff;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 1;
    text-transform: uppercase;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav li + li {
    margin-left: 40px;
}

.header__nav a {
    font-size: 16px;
    line-height: 1;
    color: #676770;
    transition: color 0.2s;
}

.header__nav a:hover {
    color: #0082F3;
}

.header__nav a:active {
    color: #0057A2;
}



